
# SQL DB Credentials (these SQL credentials, except the port number, will be URL encoded)
SQL_DIALECT = 'mysql'
SQL_DRIVER = 'pymysql'
SQL_USERNAME = 'root'
SQL_PASSWORD = 'Wyzen@2020'
SQL_HOST = 'localhost'
SQL_PORT = 3306
SQL_DATABASE = 'ITZ_DB_MYSQL'

# Server Config Options
SERVER_PORT = 5000

# AWS Credentials
AWS_ACCESS_KEY_ID = 'string'
AWS_SECRET_ACCESS_KEY = 'string'
AWS_REGION = 'string'
AWS_BUCKET_NAME = 'bucket-test'
AWS_BASE_PATH = 'go4wb/go4jobs/resumes'

# Temporary Folder
TEMP_FOLDER = '/ebs/www/vhosts/go4jobs/backend/temp'

# Temporary Resume Storage Limit
RESUME_MAX = 2
